<html>
<head>
    <title>Places I've been</title>
</head>
<body>
    <h1>You listed a city!</h1>
    <p>{{ newcity.getDescription }}</p>
    <p><a href='/'>View your list of places you've been.</a></p>
</body>
</html>
